* {
  box-sizing: content-box;
}

header {
  height: 64px;
  display: flex;
  justify-content: space-between;
}

ul {display: flex;}

span a {
  display: block;
  padding: 1rem;
  color: black;
  text-decoration: none;
  font-family: Georgia, Times New Roman, Times, serif;
  font-style: italic;
}

nav{display: none;}
nav a {
  display: flex;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 700px) {
  header nav {
    display: inline-block;
  }
  #menu {
    display: none;
  }

}
